@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;
	margin: auto;
	/* max-width: 38rem; */
	padding: 2rem;
}

@layer base {
	input {
		@apply bg-charcoal rounded-md border border-darkGunmetal placeholder-[#9DA3AE];
	}
}
